.punkList {
  display: flex;
  overflow: scroll;
  column-gap: 30px;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}

.punkList::-webkit-scrollbar {
  display: none;
}
